<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div>
  <div *ngIf="selectCar()" style="margin-bottom: 20px;">
    <label>Chosen Car: </label><br/>
    <span>{{selectCar().year}} {{selectCar().make}} {{selectCar().model}}</span>

    <label>Car Type: </label><br/>
    <span>{{carType()}}</span>
  </div>

  <div *ngIf="!selectCar()" style="margin-bottom: 20px;">
    <label>Chosen Cars: </label>
    <p *ngFor="let car of filteredCars; index as i" style="margin-bottom: 20px;">
      {{car.year}} {{car.make}} {{car.model}}
    </p>
  </div>

  <div *ngIf="selectedCar">
    <div *ngIf="carAction">
      <span>The car is {{carAction}}</span>
    </div>

    <div>
      <button (click)="honk()">Honk!</button>
    </div>

    <div>
      <button (click)="moveForward()">Move Forward</button>
    </div>

    <div>
      <button (click)="moveBackwards()">Move Backwards</button>
    </div>

    <div *ngIf="carAction">
      <button (click)="resetAction()">Reset Action</button>
    </div>

    <div>
      <button *ngIf="carType() === 'sedan'" (click)="modifySelectedCarDoors(2)">Change to 2 doors</button>
      <button *ngIf="carType() === 'coupe'" (click)="modifySelectedCarDoors(4)">Change to 4 doors</button>
    </div>
  </div>

  <div *ngIf='carList.length' style="margin-bottom: 20px;">
    <select [(ngModel)]="selectedCar" style="margin-right: 15px">
        <option *ngFor="let car of carList" 
          [value]="car.vin" 
          [selected]="selectedCar?.vin === car.vin">
            {{car.make}} {{car.model}}
          </option>
      </select>
    <button (click)="selectAllSedans()" style="margin-right: 15px">Select All 4 Door Cars</button>
    <button (click)="selectAllCoupes()" style="margin-right: 15px">Select All 2 Door Cars</button>
  </div>

</div>

